<form method="post" action="/form_add_data_group_info" enctype ="multipart/form-data">
    <span >
        <b>Thêm thông tin nhóm dữ liệu</b>
    </span>

    <!--=====FORM INPUT TÀI KHOẢN VÀ PASSWORD======-->
        <div>
            {% if err_code %}
            <div class="alert alert-danger" style="text-align: left; font-size: 15px;">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              <strong>{{ err_code }}</strong> 
            </div>
            {% endif %}
        </div>

        <div>
            <label class="control-label">Upload TFIDF file</label>
            <input type="file" style="height:45px;" id="FileTFIDFUpload" name="FileTFIDFUpload" class="form-control" id="customFile" />
        </div>

        <div>
            <label class="control-label">Tên nhóm</label>
            <input type="text" title="group_name" name="group_name"
                id="group_name">
        </div>

        <div>
            <label class="control-label">Test size</label>
            <input type="text" title="Test size" name="test_size"
                id="test_size" pattern="[+-]?([0-9]*[.])?[0-9]+">
        </div>

        <!--=====ĐĂNG NHẬP======-->
        <div>
            <input type="submit" value="Lưu" id="submit" />
        </div>
</form>