{% extends "base.html" %}
{% block title%} Chuyển dữ liệu sang dữ liệu huấn luyện {% endblock %}
{% block content %}
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="/view_data_input">Dữ liệu đầu vào</a></li>
            <li class="breadcrumb-item"><a href="/view_data_input/view_distinct_data_input">Dữ liệu đầu vào đã loại bỏ
                    trùng lặp</a></li>
            <li class="breadcrumb-item"><a href="">Chuyển dữ liệu sang dữ liệu huấn luyện</a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="tile">

                <h3 class="tile-title">Chuyển dữ liệu sang dữ liệu huấn luyện</h3>
                <div class="tile-body">

                    <form class="row" method="post" action="/view_data_input/view_distinct_data_input/form_add_data_input_to_data_train/{{id_data_input}}"
                        enctype="multipart/form-data">
                        <div class="form-group col-md-12">
                            <label class="control-label">Dữ liệu: </label>
                            <textarea class="form-control" title="text_original" name="text_original"
                                id="text_original">{{data}}</textarea>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label">Loại nhãn: </label>
                            <select class="form-control" id="class_id" name="class_id">
                                <option value="1">Spam</option>
                                <option value="0">Ham</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Chọn nhóm cho dữ liệu: </label>
                            <br>
                            {% for elm in data_group_info %}
                            <input type="checkbox" name="{{elm[1]}}" value="{{elm[1]}}"
                                id="{{elm[1]}}">{{elm[1]}}> <br>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-8"></div>

                        <div class="form-group col-md-4">
                            <input class="btn btn-save" type="submit" id="submit" value="Lưu" />
                            <a class="btn btn-cancel" href="/view_data_input/view_distinct_data_input">Hủy bỏ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}