{% extends "base.html" %}
{% block title%} Thêm mô hình {% endblock %}
{% block content %}
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="/view_data_train">Dữ liệu huấn luyện</a></li>
            <li class="breadcrumb-item"><a href="">Thêm dữ liệu huấn luyện</a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="tile">

                <h3 class="tile-title">Thêm dữ liệu huấn huyện</h3>
                <div class="tile-body">


                    <form class="row" method="post" action="/view_data_train/form_add_data_train"
                        enctype="multipart/form-data">

                        <div>
                            {% if err_code %}
                            <div class="alert alert-danger" style="text-align: left; font-size: 15px;">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                <strong>{{ err_code }}</strong>
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label">Upload data train file</label>
                            <input class="form-control" type="file" style="height:45px;" id="FileDataTrainUpload"
                                name="FileDataTrainUpload" class="form-control" id="customFile" />
                        </div>

                        <!--=====ĐĂNG NHẬP======-->
                        <div class="form-group col-md-4">
                            <input class="btn btn-save" type="submit" id="submit" value="Thêm" />
                            <a class="btn btn-cancel" href="/view_data_train">Hủy bỏ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}