<form method="post" action="/update_one_account/{{ data[0] }}" enctype ="multipart/form-data">
    <span >
        <b>Sửa thông tin tài khoản</b>
    </span>
        <div>
            <label class="control-label">Tên đầy đủ: </label>
            <input type="text" title="full_name" name="full_name"
                id="full_name" value="{{ data[1] }}">
        </div>

        <div>
            <label>Role: </label>
            <select id="role" name="role">
              {% if data[7] == 'Admin' %}
                <option value="Admin" selected>Admin</option>
                <option value="Viewer">Viewer</option>
              {% endif %}
              {% if data[7] == 'Viewer' %}
                <option value="Admin">Admin</option>
                <option value="Viewer" selected>Viewer</option>
              {% endif %}
            </select>
        </div>

        <div>
            <input type="submit" value="Lưu" id="submit">
        </div>
</form>