Model info
<br>
Model name: {{model_info[1]}}
<br>
Model class: {{model_info[2]}}
<br>
Description: {{model_info[3]}}

<br><br>

Data Group Infomation
<br>
Group data name: {{group_data_name}}
<br>
Test size: {{test_size}}
<br><br>

The measures in the training set:
<br>
Accuracy: {{train_info[0]}}
<br>
Precision: {{train_info[1]}}
<br>
Recall: {{train_info[2]}}
<br>
R2-Score: {{train_info[3]}}
<br>
F1-Score: {{train_info[4]}}
<br>
<table>
    <tr>
      <td></td>
      <td>Predicted Positive</td>
      <td>Predicted Negative</td>
    </tr>
    <tr>
      <td>Actual Positive</td>
      <td>{{train_info[5][0]}}</td>
      <td>{{train_info[5][1]}}</td>
    </tr>
    <tr>
      <td>Actual Negative</td>
      <td>{{train_info[5][2]}}</td>
      <td>{{train_info[5][3]}}</td>
    </tr>
  </table>
<br><br>

The measures in the testing set:
<br>
Accuracy: {{test_info[0]}}
<br>
Precision: {{test_info[1]}}
<br>
Recall: {{test_info[2]}}
<br>
R2-Score: {{test_info[3]}}
<br>
F1-Score: {{test_info[4]}}
<br>
<table>
    <tr>
      <td></td>
      <td>Predicted Positive</td>
      <td>Predicted Negative</td>
    </tr>
    <tr>
      <td>Actual Positive</td>
      <td>{{test_info[5][0]}}</td>
      <td>{{test_info[5][1]}}</td>
    </tr>
    <tr>
      <td>Actual Negative</td>
      <td>{{test_info[5][2]}}</td>
      <td>{{test_info[5][3]}}</td>
    </tr>
  </table>
<br><br>
