Số bản ghi trong nhóm dữ liệu {{group_info[1]}} là {{num_rows}}

<div id='chart_pie' class='chart_pie'
 style="height: 400px; width: 50%; border: 1px solid; 
box-shadow: 5px 5px 5px #888888;"></div>

<br>

<div id='chart_distribution' class='chart_distribution'
 style="height: 100%; width: 100%; border: 1px solid; 
box-shadow: 5px 5px 5px #888888;"></div>

<br>

<div id='graphs_15_spam' class='graphs_15_spam'
 style="height: 100%; width: 100%; border: 1px solid; 
box-shadow: 5px 5px 5px #888888;"></div>

<br>

<div id='graphs_15_ham' class='graphs_15_ham'
 style="height: 100%; width: 100%; border: 1px solid; 
box-shadow: 5px 5px 5px #888888;"></div>

<br>

<div id='graphs_acc_train' class='graphs_acc_train'
 style="height: 100%; width: 100%; border: 1px solid; 
box-shadow: 5px 5px 5px #888888;"></div>

<br>

<div id='graphs_acc_test' class='graphs_acc_test'
 style="height: 100%; width: 100%; border: 1px solid; 
box-shadow: 5px 5px 5px #888888;"></div>

<br>

<div id='graphs_time_train' class='graphs_time_train'
 style="height: 100%; width: 100%; border: 1px solid; 
box-shadow: 5px 5px 5px #888888;"></div>

<br>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script type='text/javascript'>
    var graphs = {{graphJSON_pie | safe}};
    Plotly.plot('chart_pie',graphs,{});

    var graphs_1 = {{graphJSON_distribution | safe}};
    Plotly.plot('chart_distribution',graphs_1,{});

    // graphJSON_15_count_spam
    var graphs_15_spam = {{graphJSON_15_count_spam | safe}};
    Plotly.plot('graphs_15_spam',graphs_15_spam,{});
    var graphs_15_ham = {{graphJSON_15_count_ham | safe}};
    Plotly.plot('graphs_15_ham',graphs_15_ham,{});

    // graph acc 
    var graphs_acc_train = {{graphJSON_acc_train | safe}};
    Plotly.plot('graphs_acc_train',graphs_acc_train,{});
    var graphs_acc_test = {{graphJSON_acc_test | safe}};
    Plotly.plot('graphs_acc_test',graphs_acc_test,{});
    var graphs_time_train = {{graphJSON_time_train | safe}};
    Plotly.plot('graphs_time_train',graphs_time_train,{});
  </script></html>