{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash">
        {% for message in messages %}
          <span>{{ message }}</span>
        {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<table>
  <thead>
    <tr>
      <th>ID data input</th>
      <th>ID user</th>
      <th>Văn bản gốc</th>
      <th>Tạo lúc</th>
      <th>Tạo bởi</th>
      <th>Cập nhật lúc</th>
      <th>Cập nhật bởi</th>
      <th>Chức năng</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
      <td>{{ row[5] }}</td>
      <td>{{ row[6] }}</td>
      <td>
        <button onclick="editDataInput('{{ row[0] }}')">Sửa</button>
        <button onclick="deleteDataInput('{{ row[0] }}')">Xóa</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  function editDataInput(id_dinput) {
    window.location.href = `/update_one_data_input/${id_dinput}`;
  }

  function deleteDataInput(id_dinput) {
    window.location.href = `/delete_one_data_input/${id_dinput}`;
  }

  setTimeout(function() {
    document.querySelector('.flash').style.display = 'none';
  }, 3000);
</script>
